/* Global styles */

* {
  box-sizing: border-box;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: 15px;
  margin: 0;
}

img {
  max-width: 100%;
}

a:hover {
  color: var(--bs-link-hover-color);
}

a:link,
a:visited {
  color: var(--bs-link-color);
}

.skip-links ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.skip-links a {
  font-size: 11px;
  font-size: 0.6875rem;
  position: absolute;
  right: 20px;
  top: -200px;
  z-index: -1;
}

.skip-links a:focus {
  top: 2px;
  z-index: 9999;
}